:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor : #ffffff;
    --bgColor-1 : #171a1c;
    --IBgColor : #9494943e;
    --IBgColor2: #94949480;
    --bgColor-2 : #22282a;
}

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bgColor-1);
}
h1{
    color: var(--lightColor);
    font-size: 20px;
}
h3{
    font-size: 20px;
    color: var(--lightColor);
}
p{
    color: var(--lightColor);
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    transition: .6s;

}
p:hover{
color: blue;
text-decoration: underline;

}
.videoSpan {
    color: gray;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: color 2.6s;
}

.videoSpan::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--IBgColor2);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 2.6s;
}

.videoSpan:hover {
    color: var(--IBgColor2);
}

.videoSpan:hover::after {
    transform: scaleX(1);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:var(--bgColor-1);
}
.navList2{
    position: sticky;
    z-index: 2;
    background-color:var(--bgColor-1);
}
.fa-bars{
    color: white;
     font-size: 20px;
      margin: 20px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;

}
.fa-bars:hover{
    background-color: var(--IBgColor2);
}
.fa-youtube{
    color: red;   
    font-size: 20px;    
    border: 5px;
}
.youtube{
    display: flex;
     align-items: center;
    cursor: pointer;

}
.youtube :hover{
color: var(--primaryColor);
}
.fa-magnifying-glass{
    color: white;
    padding: 10px;
    border-radius: 0 15px 15px 0 ;
    background-color: var(--IBgColor);
    margin-left: 0px;
}
.searchBar{
    display: flex;
    width: fit-content;
    cursor: pointer;
}

.searchBarInput{
    margin-right: 0px;
    width: 450px;
    background-color: transparent;
    border-radius:15px 0   0 15px;
    border:1px solid var(--IBgColor);
    color: var(--lightColor);
}
.fa-microphone{
    color: white;
    background-color: var(--IBgColor);
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}
.fa-microphone:hover{
    background-color: var(--IBgColor2);
}
.Create{
    display: flex;
    background-color: var(--IBgColor);
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}
.Create:hover{
background-color: var(--IBgColor2);
}
.fa-plus{
    color: var(--lightColor) ;
    font-size: 20px;
}
.fa-bell{
    color: var(--lightColor) ;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.fa-bell:hover{
    color: var(--primaryColor);
}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;

}
.profile:hover{
    opacity: 50%;
}


.navList2{
    width: 90%;
    display: flex;
    position: sticky;
    top: 78px;
    left: 10%;
    list-style-type: none;
    padding-bottom: 5px;
}

.navList2 li{
margin-left: 15px;
}
.navList2 li a{
    color: var(--lightColor);
    text-decoration: none;
    padding: 8px 10px;
    background-color: var(--IBgColor);
    border-radius: 12px;
    transition: 0.4s;
    
}
.navList2 li a:hover{
    background-color: var(--IBgColor2);
}
.arrow{
    color: #ffffff;
     font-size: 20px;
     padding-right: 0px;
      margin-right: 0px;
padding: 0px 8px;    
cursor: pointer; 
}
.arrow:hover{
    background-color: var(--IBgColor2);
    border-radius: 50%;
}
.sideBar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    color: blue;
    width: 8.5%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fa-house{
    color: var(--lightColor);
    /* margin-left: -15px;
    font-size: 20px; */
    
}
.fa-house:hover{

}
.material-symbols-outlined{
 color: var(--lightColor);   
}

.fa-user{
    color: var(--lightColor);
    padding: 4px;
    border: 2px var(--lightColor) solid;
    border-radius: 50%;
    font-size: 13px;
}

.section{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    left: 10%;
    padding-top: 20px;

}

.section > .videoContainer{
    display: grid;
    grid-template-columns: 1fr;
    height: 335px;

}

 .videoContent{
    margin-top: 0;
    display: flex;
}
.subVideoContent{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.fa-ellipsis-vertical{
color: var(--lightColor);
font-size: 18px;
cursor: pointer;
}

.videoContainer > video{
   transition: 0.6s;
    }

.videoContainer > video:hover{
border-radius: 10px;
}